<li>
  <%= link_to team.name, "/teams/#{team.id}" %>
  <%# if current_user.admin? && !current_user?(user) %>
     <%#= link_to "изтрий", user, method: :delete,
                                  data: { confirm: "Сигурен?" } %>
  <%# end %>
</li>
