<li>
  <%= link_to team.name, "/teams/#{team.id}" %>
  <% if current_user && current_user.admin? %>
    <%= link_to "изтрий", "/teams/#{team.id}", method: :delete,
                              data: { confirm: "Сигурен?" } %>
  <% end %>
</li>
