<% provide(:title, "Редакция на отбор") %>
<h1>Обнови отбора си</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@team) do |f| %>
      <%= render 'fields', f: f %>
      <%= f.submit "Запамети промените", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
