
<div class="center jumbotron">
  <h2>HackTUES 2 ще се проведе на 9, 10, 11 октомври!</h2>

  <h1>
    Тема: TBA
  </h1>
  <% if current_user %>
    <%= link_to "Регистриран", current_user, class: "btn btn-lg btn-success" %>
  <% else %>
    <%= link_to "Регистрирай се!", signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
</div>

<p>
  Идеята на HackTUES е да се даде възможност за изява на учениците на ТУЕС, те да придобият практическа представа за разработването на софтуер и да се създаде една готина атмосфера. Целим да вдигнем нивото на обучение и да оставим една хубава традиция в ТУЕС.
</p>
