<div class="center jumbotron">
  <h1>Proof of Concept</h1>

  <h2>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </h2>

  <%= link_to "Регистрирай се!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus blandit
  lacinia justo eu molestie. Vivamus mattis elit erat, eu hendrerit lorem
  porttitor in. Donec in velit hendrerit leo porttitor dictum ut eget nulla.
  Pellentesque sollicitudin leo id tellus aliquam, nec lobortis turpis
  vestibulum. Sed mollis, neque ut mollis congue, leo mi fringilla quam, quis
  sodales justo magna a nisi. Vivamus suscipit efficitur semper. Curabitur
  accumsan nibh vitae pretium aliquam. Maecenas elementum a tellus at
  volutpat. Vivamus ligula libero, molestie et justo et, facilisis lobortis
  mi. Aliquam gravida lacinia massa, sed lacinia augue. Vivamus pharetra eu
  est a sollicitudin. Vestibulum bibendum convallis imperdiet. Etiam aliquet
  tempor lorem et dignissim. Maecenas a tincidunt eros.


</p>
