<% provide(:title, 'Екип') %>
<h1>Екип</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed at magna eu arcu
  volutpat finibus vel non purus. Cras ornare aliquet fermentum. Donec
  consectetur, arcu in porttitor aliquet, ante lacus sagittis elit, id
  malesuada neque ligula volutpat augue. Curabitur venenatis libero id libero
  apibus. Nulla sed luctus nisl. Donec nec orci a lacus malesuada fringilla.
  Proin sit amet est dolor. Quisque malesuada malesuada molestie. Ut iaculis,
  diam vitae tincidunt accumsan, turpis ligula accumsan purus, vel eleifend
  augue magna ut urna.
</p>
