<h1>HackTUES</h1>

<p>Здравей <%= @user.name %>,</p>

<p>
Ти се регистрира успешно за HackTUES! Посети линка отдолу, за да активираш акаунта си:</p>

<%= link_to "Активация", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>
