<h1>Password reset</h1>

<p>За да си смениш паролата посети линка отдолу:</p>

<%= link_to "Смяна на парола", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>Този линк ще стане невалиден след 2 часа.</p>

<p>
Ако не си поискал смяна на паролата си, игнорирай това съобщение.
</p>
